*{
	margin:0;
	padding:0;
	font-family: arial;
}

.faculty-container{
	margin: 50px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*border:1px solid red;*/
}

.faculty-wrapper{
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	width: 800px;
	padding: 30px;
	min-height: 300px;
	/*border:1px solid red;*/
	box-shadow: 0px 2px 4px gray;
	border-radius: 10px;
}

.faculty-main{
	/*padding: 0 0 50px;*/
	/*border:1px solid blue;*/
	margin-bottom: auto;

}
.faculty p{
	text-decoration:underline;
	align-self: center;
}
.faculty a{
	text-decoration:none !important;
	color:#fff;
	background: yellowgreen;
	font-size: 15px;
	padding: 10px 5px;
	border-radius: 5px;	
	align-self: center;
}
#faculty-table{
	margin: 0 auto;	
	text-align:center;
	width: 100%;
	border-collapse: collapse;
}

#faculty-table th,#faculty-table td{

	border:2px solid gray;
	padding: 8px 10px;
}
#faculty-table tr:nth-child(odd):not(:first-child){
	background: #aad;
}

/*update faculty css below*/

#formm{
 	margin: 50px 0 50px 0;
 	/*border: 1px solid red;*/
}

#form-main{
	margin: 0 auto;
	width: 500px;
	/*height: 430px;*/
	/*border: 1px solid red;*/
	border-radius: 5px;
	box-shadow: 0 2px 4px gray;

	/*background: #86D2DE;*/
}
.form-heading{
	padding: 15px;
	/*border: 1px solid red;*/
	border-bottom: 1px solid gray;
	color: #000;
	font-family: arial;
	font-size: 22px;
	font-weight:bold;
	margin-bottom:15px;
}
.error-panel{
	margin:10px auto;
	width: 90%;
	background:#f3c7c7;
	color: #f11010;
	border:2px solid #fdaeae;	
	border-radius: 5px;
}
.error{
	text-align:center;
	padding: 5px 0px;
}
.form-signup{

	width: 450px;
	padding: 0 10px 10px;
	margin:0 auto;
	/*border: 1px solid red;*/

}
.form-input{
	padding: 10px;
	border-radius: 5px;
	font-size: 15px;
	margin: 10px auto;
	width: 100%;
	border: 1px solid gray;
}
.form-input-halfwidth{
	/*width: 433px;*/
	width:49.5%;
}

.form-panel{
	/*border: 1px solid red;*/
}

.active-panel{
	height: 60px;
	/*border: 1px solid gray;*/
}

.active{
	display:inline-block;
	padding: 5px;
	border:1px solid gray;
	border-radius: 5px;
}
.span-title{
	width: 500px;
	margin:0;
	display: inline-block;
	font-size: 14px;
	padding: 8px 0 0;
	/*border: 1px solid red;*/
}

.label-radio{
	padding: 0 5px 0 10px;
}

.form-input:focus{
	outline:none;
}

.form-button{
	/*border: 1px solid red;*/
	text-align: center;	
	margin-top: 10px;
}
.button{
	margin: 0 auto;
	/*width: 150px;*/
	font-weight: bold;
	font-size: 18px;
	padding: 8px 50px;
	/*border: 1px solid red;*/
	border: none;
	border-radius: 5px;
	background-color:#00a400;
	text-shadow: none;
	color: #fff;
	
}
.button:focus{
		outline:none;
}
.button:hover{
	background: linear-gradient(#67ae55, #578843);
}

.input-error{
	box-shadow:  0 0 5px red;
}
