*{
	margin: 0;
	position: 0;
}

.footer{
	margin-top:auto;
	width: 100%;
	height:5rem;
	/*border: 1rem solid red;*/
	background: linear-gradient(to right,#eef2f3,#8e9eab);	
	box-shadow: 0 .2rem .4rem gray;	
}
.footer p{
	font-family: arial, helvetica, sans-serif;
	font-size: 1.8rem;
	text-align: center
	color: #6d6a6a;
	line-height: 5rem;
	text-align: center;
}