*{
	margin:0;
	padding:0;
	font-family: arial;
}
html{
	height: 100%;
	font-size: 62.5%;
}
body{
	display:flex;
	flex-direction: column;
	height:100%;
}
.nav{
	display: flex;	
	justify-content: space-between;
	flex-wrap:wrap;
	/*justify-content: center;*/
	margin: 0 auto;
	height: 60px;
	width: 100%;
	background: #adf;
	/*border-bottom:1px solid black;*/
	/*overflow: hidden;*/
	background: #f0f0f0;
}
.nav p{			/*For navigation logo*/	
	width: auto;
	float: left;
	line-height: 60px;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	/*flex-grow:2;*/
	
}
.nav p a{
	
	text-decoration: none;
	color:black;	
	padding: 21px 11px;
}
.menu ul{					/* For navigation*/
	/*float: left;*/
	width: auto;

}
.menu ul li{
	list-style-type: none;	
	float: left;
}
.menu ul li a{
	display: block;
	font-family: arial;
	font-size:16px;
	color:black;
	padding: 21px 14px;
	text-decoration: none;
}
                      


.menu ul li:hover{

	background: #f5f5f5;
}




/*flex test*/
.header{

}

.menu{
	/*margin-left:200px;*/
	/*order:0;*/
	/*flex-grow:2;*/
	/*margin:auto;*/
}
.dropdown-btn{
	cursor:pointer;
}

.dropdown-btn ul{
	margin: 0;
	background: paleturquoise; /*AFEEEE*/
	
}
.dropdown-btn ul li{
	/*border: 1px solid cyan;	*/
	display: block;
	font-size:18px;
	font-weight: bold;
	padding: 19.5px 19px;
	position: relative;
	min-width: 123px;

}
.dropdown-btn:hover {
	/*background: orangered;*/
}


.dropdown-btn ul li ul{
	/*border: 1px solid cyan;	*/
	background: transparent;
	position: absolute;
	transition: all 0.5s ease-in;
	margin-top: 19px;
	left:0;
	top:56;
  	display: block;
}

.visible{
	visibility:visible;
}
.hidden{
	visibility:hidden;
}


.dropdown-btn ul li ul li{
	width: 0;
	padding:0;	
	font-style: underline;
}

.dropdown-btn ul li ul li a{
	border-radius:0 0 15px 15px;
	text-decoration: none;
	text-align: center;
	background: firebrick; /*#B22222*/
	color: papayawhip; /*#FFA07A*/
	padding: 15px 50px;
}

 /*ARROW ELEMENT CODE*/
.arrow {
	display: inline-block;
     /*position: absolute;*/
     height:10px;
     position: absolute;
     right:12;
     bottom:25;
 
}
 .arrow::before, .arrow::after {
     content: "";
     position: absolute;
     bottom: 0px;
     width: 0.15rem;
     height: 100%;
     transition: all 0.5s;
}
 .arrow::before {
     left: -3px;
     transform: rotate(-45deg);
     background-color: #394a6d;
}
 .arrow::after {
     left: 3px;
     transform: rotate(45deg);
     background-color: #394a6d;
}

/*TO TRANSFORM THE ARROW ADD PROPERTY BELOW*/
 /*.open .arrow::before {
     left: -5px;
     transform: rotate(-45deg);
}
 .open .arrow::after {
     left: 5px;
     transform: rotate(45deg);
}*/

.greetings{
	display: inline-block;
	font-style: italic;
}

.dropdown-btn ul:hover{
	background: #90cece;
}
.dropdown-content li a:hover{
	background: #9e1f1f;
}

.drodown-btn, .dropdown-content{
	clear:both;
}


/*GLOBAL classes*/

.container{
	margin: 50px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.wrapper{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: nowrap;
	width:800px;
	min-height: 300px;
	box-shadow: 0 2px 4px gray;
	border-radius: 10px;
	padding:30px;
}
.heading{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight:bold;
	font-size: 1.5em;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom:2px solid black;
}

.heading  p{	
	align-self: center;
	text-decoration: underline;
}

.heading a{
	text-decoration:none !important;
	color:#fff;
	background: yellowgreen;
	font-size: 15px;
	padding: 10px 5px;
	border-radius: 5px;	
	align-self: center;
}
.btn{
	padding: 6px 10px;
	font-size: 14px;
	border-radius:8px;
	text-decoration:none;
	transition: 0.3s ease;
}
.btn-success{
	color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-danger{
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-success:hover {
    color: #fff;
    background-color: #2a8e41;
    border-color: #bd2130;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}