*{
	margin: 0;
	padding: 0;
	font-family: Arial, helvetica, sans-serif;

}
html{
	font-size:62.5%;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*background: linear-gradient(to right,#0f2027,#203a43,#2c5364);*/
	/*background: linear-gradient(to right,#ada996,#f2f2f2,#dbdbdb,#eaeaea);*/
	/*background: linear-gradient(to right,#c31432,#240b36);*/
	background: linear-gradient(to right,#8e9eab,#eef2f3);
	height:100%;	
}
.heading {
	align-self: flex-start;
	/*border: 1rem solid red;*/
	/*margin: 0 auto;*/
	width:100%;
	height: 10rem;
    color: white;
    background: linear-gradient(to left,#00c6ff, #0072ff);
	/*box-shadow: 4rem 10rem 6rem -5rem #cdd2d3, 0 2rem 8rem #545454;*/
	box-shadow: 0 .2rem .4rem gray;
	border-radius: 0 0 4rem 4rem;
}

.title{
	line-height: 5rem;
	margin: 0 auto;
	padding: 3rem 0 0 0;
	text-align: center;
	font-size: 3rem;
	font-family: Segoe UI;
}
.container{
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-self: center;
	width: 70%;
	margin-bottom: auto;
	height:50%;
	background: linear-gradient(to right,#8e9eab,#eef2f3);
	box-shadow: 0 .4rem .4rem gray;
	border-radius: 0 0 5rem 5rem;
	padding: 3rem;	
}


.form{
	display: flex;
	flex-direction: column;
	background: #fff;
	text-align:center;
	width:39.6rem;
	padding: 2rem;
	margin: 0 auto;
	height: 34.9rem;
	box-sizing: border-box;
	border-radius: .8rem;
	 /*box-shadow: h-offset v-offset blur spread color |inset|initial|inherit;*/
	box-shadow: 0 .2rem .4rem gray;
}	
.heading2{
	margin-bottom: .5rem;
}
.heading2 p{
	font-size:2.1rem;
	color: #000;
	animation: glow 50s infinite;
}

@keyframes glow{
	20%{color:#FF8C00;}
	30%{color:#FFA500}
	75%{color:#FFD700;;}
	80%{color:#DAA520;}
	85%{color:#F0E68C;}
	90%{color:#EEE8AA;}
	100%{color:#FAFAD2;}

}
.red-text{
	margin:.8rem auto .5rem;
	padding: .5rem 1rem;
	width: 90%;
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: .6rem;
    border: .1rem solid red;
}
.red-text p{ 
	font-size:1.8rem; 
	font-style: bold;
	/*color: red;*/
}

/* For body*/
.form-inside{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%
}

.form-input,.form-button{
	height: 5.7rem;
	width: 17em;
	padding:0 1.3rem;	
	border-radius: .8rem;
	font-size: 2rem;
	font-family: arial;
	border: .1rem solid #dddfe2;

}

.form-button{
	font-weight: bold;
	background-color:#1877f2;
	color: #ffffff;
	border: none;
}
.form-button:focus{
	outline:none;
}
.form-button:hover{
	background-color: #4267b2;
}
.form-input:focus{
	outline:none;
   /*box-shadow: h-offset v-offset blur spread color |inset|initial|inherit;*/
	 box-shadow: 0 0 0 .2rem rgba(21, 156, 228, 0.4);
}

.seperator{
    border-bottom: .2rem solid #dadde1;
    width: 90%;
    align-self: center;
}

.footer{
	margin-top:auto;
	width: 100%;
	height:5rem;
	background: linear-gradient(to right,#eef2f3,#8e9eab);
	box-shadow: 0 .2rem .4rem gray;	
}
.footer p{
	font-family: arial, helvetica, sans-serif;
	font-size: 1.8rem;
	text-align: center;
	color: #6d6a6a;
	line-height: 5rem;
}

@media only screen and (max-width:1165px){

	html{
		font-size: 57%;
	}
	.heading{
	height: 8rem;
	}
	.title{
		line-height: 50%;
	}

}
@media only screen and (max-width:550px){

	html{
		font-size: 50%;
	}
	.heading{
		height:7rem;
		border-radius: 0;
	}
	.title{
		font-size: 2.4rem;
	}
	.container{
		width: 80%;
	}
	.form{
		width: 100%;
	}
	.form-input,.form-button{
		width: 100%;
		
	}
	.footer{
		height:4rem;
	}
	.footer p{
		line-height: 2rem;
	}

}