.question-main{
/*height:2000px;*/
}

.question-table table{
	/*height: 2000px;*/
	border-collapse: collapse;
}
.question-table th,td{
	border:1px solid gray;
	border-collapse: collapse;
	padding: 7px 10px;
}
